#boscr {
    position: absolute;
    width: calc(100vw - 0.25rem);
    height: calc(100vh - 6.5%);
    left: -1%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    overflow: hidden;
  }
  #cn_ind {
    position: relative;
    width: 12%;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  
  #cn-frame {
    position: absolute;
    width: 97.5%;
    height: 95%;
    top: 1%;
    left: 1.25%;
    background-color: blanchedalmond;
    border-radius: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-right: 2.5rem;
    z-index: 1;
  }
  .cnblock {
    position: relative;
    border-radius: 0.25rem;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    height: 20rem;
    margin: 0.25rem;
  }
  .addframe {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 20rem;
  }
  #cn_Sender,
  #cn_Rec, #cn_oth {
    width: 27.5%;
    margin-top: 1rem;
  }
  #cn_oth {
    right: 1rem;
  }
  #paysels {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  #bill_p {
    font-size: 1.5rem;
    width: 30%;
    display: inline;
  }
  #bill_r {
      display: flex;
      margin-bottom: 5px;
      overflow: hidden;
  }
  
  #bill_r input {
      /*position: absolute !important;*/
      clip: rect(0, 0, 0, 0);
      height: 100%;
      width: 33%;
      border: 0;
      overflow: hidden;
  }
  
  #bill_r label {
      background-color: #e4e4e4;
      color: rgba(0, 0, 0, 0.6);
      font-size: 14px;
      line-height: 1;
      text-align: center;
      padding: 8px 16px;
      margin-right: -1px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
      transition: all 0.1s ease-in-out;
  }
  
  #bill_r label:hover {
      cursor: pointer;
    background-color: #a6dc8677;
  
  }
  
  #bill_r input:checked + label {
      background-color: #a5dc86;
      box-shadow: none;
  }
  
  #bill_r label:first-of-type {
      border-radius: 4px 0 0 4px;
  }
  
  #bill_r label:last-of-type {
      border-radius: 0 4px 4px 0;
  }
  
  .spacer {
    width: 100%;
    height: 0.6rem;
  }
  
  #cn-frame input[type="text"] {
    font-size: 1.5rem;
    padding: 0.25rem;
    width: 100%;
  }
  #cn-frame .addframe input[type="text"] {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  #frtdet {
    background-color: lightgray;
    width: 100%;
    Height: 300px;
    margin: 1rem;
  }

  #onspco textarea {
    width: 100%;
    padding: 0.25rem;
    height: 12.25rem;
  }
  #delivery{
    width: 15%;
    height: 15rem;
  }
  #cnadmin,
  #onspco,
  #cnhl {
    width: 27%;
    height: 15rem;
  }
  .bg_box {
    width: 100%;
    background-color: white;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height:12.25rem;
  }
  .cnac{
    height: 7rem;
    width: 7rem;
    border: 2px solid #CC5500;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 2rem;
    color: #CC5500;
    background-color:#faf83f;
  }
  .cnac:hover{
    border: 2px solid #faf83f;
    color: #faf83f;
    background-color: #CC5500;
  }
  .cnal{
    font-size: 4.5rem;
  }
  .cnaw{
    font-size: 1.5rem;
  }


  .cn_scph {
    width: 25%;
    margin-bottom: 2rem;
  }
  .cn_cn {
    width: 75%;
    margin-bottom: 2rem;
  }
  .cn_name {
    margin-top: 1.5rem;
  }
  .ind_r {
    width: 100%;
    display: flex;
  }
  .ind_inp {
    width: 45%;
  }
  .ind_inp input {
    text-align: right;
    padding-right: 1rem;
  }
  .ind_labs{
    width: 55%;
    background-color: #fff;
    font-size: 1.5rem;
    padding: 0.4rem;
    border: 1px solid rgb(192, 192, 192);
    line-height: 1;
  }
  .rec_labs {
    width: 45%;
    background-color: #fff;
    font-size: 1.5rem;
    padding: 0.4rem;
    border: 1px solid rgb(192, 192, 192);
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  .cn_cname,
  .cn_add1,
  .cn_add2 {
    width: 100%;
  }
  .cn_add3 {
    width: 75%;
  }
  .cn_stat {
    width: 10%;
  }
  .cn_pc {
    width: 15%;
  }
  
  
  .cntitle {
    background-color: orangered;
    font-size: 2.5rem;
    font-weight: bold;
    text-indent: 1rem;
    border-radius: 0.25rem 0.25rem 0 0;
    width: 100%;
  }



  /*Con note table*/

  #cn_tots thead th {
    visibility: hidden;
    height: 0;
    padding: 0;
  }
  

/*  #cn_tots {

  }*/
#cnt_add {
    margin-top: 0.5rem;
}
#frt_ctnr{
    overflow-y:scroll;
    height: 200px;
    margin-top: 1rem;
}
.cnt_frt_tbl {
    position: relative;
    width: 99.5%;
    left: 0.2%;
}
.cnt_frt_tblout {
    position: relative;
    width: calc(99.5% - 15px);
    left: 0.2%;
}

#frt_head{
    position: sticky;
    top: 0;
    font-size: 2.25rem;
    background-color: #999;
}

  #cnt_body tr {
      
      border-bottom: 1px solid #9c9c9c;
      width:99%;
  }
  #cnt_body tr td {
    border-left: 0.1rem solid #9c9c9c;
    border-right: 0.1rem solid #9c9c9c;
    font-size: 1.75rem;
  }
  #cnt_body tr td div{
    font-size: 1.75rem;
  }
  #cnt_head tr th {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  }
  #cnt_add tr td {
    border-left: 0.1rem solid #9c9c9c;
    border-right: 0.1rem solid #9c9c9c;
  }
  #cnt_body {
    max-height: 265px;
    overflow-y: scroll;
    overflow-x: hidden;
    width:100%;
  }
  #cnt_head {
    background-color: #999;
    color: whitesmoke;
  }
#cnspacer {
    height: 7.5%;
    background-color: none;
    border:none;
}
  #cnt_head 
  .nbut {
    cursor: pointer;
  }
  #cnt_head .unNum,
  #cnt_head .class,
  #cnt_head .sRisk,
  #cnt_head .pkGr,
  #cnt_head .pkDes {
    background-color: darkred;
  }
  .cntrt {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .cn_ctrls {
    width: 3%;
  }
.bkpsn{
    flex-grow: 2;
}
  .noItem,
  .itWgt,
  .itLen,
  .itWid,
  .itHei,
  .itQty,
  .unNum,
  .class,
  .sRisk,
  .pkGr,
  .pkDes {
    width: 3.5%;

    text-align: center;
  }
  #cn_add {
    background-color: seashell;
    text-align: center;
  }

  
  #cn_add .unNum,
  #cn_add .class,
  #cn_add .sRisk,
  #cn_add .pkGr,
  #cn_add .pkDes {
    background-color: rgb(138, 100, 100);
  }
  
  .senRef {
    width: 16%;
  }
  .senRef, .psn {
    padding-left:1rem;
  }
  div.psn{
      padding-left: 0rem;
  }
/*  .cntr,
  .cntrt {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;  
  }
  .cntr {
    border: 1px solid #9c9c9c;
  }
  .cntd {
    font-size: 1.5rem;
    border-left: 1px solid #9c9c9c;
    
  }*/

  #ncn td {
    font-size: 1.5rem;
    padding: 0.25rem;
    vertical-align: middle;
  }
  
  #sttr td {
    font-size: 2rem;
    padding: 0.25rem;
  }
  .sttr {
    background-color: orangered;
    text-align: right;
  }
  .sttrl {
    background-color: rgb(255, 177, 148);
    border-left: 1px solid #999;
    border-right: 1px solid #999;
  }
  .sttrd {
    border: none;
    background-color: rgb(128, 34, 0);
  }
  .sttrm {
    background-color: rgb(255, 177, 148);
    text-align: right;
  }
  /*.sttrs{
    width: 3.8%;
  }*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00cc5569;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00cc5569;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 
h2 {
  font-size: 2rem;
  font-weight: normal;
}
/*#cnhl .bg_box{

}*/
.hl_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.3;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 1.5rem;
  content: ' ';
  height: 3rem;
  width: 0.2rem;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
