html {
  background-color: #090909;
  font-family: "Roboto";
  font-size: 62.5%;
}

/* LOGIN */
.box {
  position: absolute;
  left: calc(50% - 20rem);
  width: 40rem;
  color: #666;
  border-radius: 0.3rem;
  background: #fff;
  box-shadow: 0 1rem 2rem rgba(3, 3, 3, 0.281),
    0 0.6rem 0.6rem rgba(0, 0, 0, 0.23);
  overflow: hidden;
}
form {
  display: flex;
  flex-direction: column;
}

.response {
  font-family: "Roboto";
  font-weight: 50rem;
  color: coral;
}

#header {
  background: #343838a4;
  position: relative;
  height: 10rem;
  width: 100%;
  margin-bottom: 3rem;
}

#cont-lock {
  width: 100%;
  height: 6.5rem;
  position: relative;
}

.lock {
  text-align: center;
  color: whitesmoke;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  line-height: 6.5rem;
  font-size: 2.8rem;
}

#bottom-head {
  position: relative;
  background-color: #44424296;
  height: 3.5rem;
}

#bottom-head::after {
  content: "";
  width: 0rem;
  height: 0rem;
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 0.7rem solid white;
  border-right: 0.7rem solid rgba(0, 0, 0, 0);
  border-left: 0.7rem solid rgba(0, 0, 0, 0);
  border-top: 0.7rem solid rgba(0, 0, 0, 0);
}
t
.box h1 {
  margin-left: 2rem;
  margin-top: 0;
  font-size: 2.4rem;
  font-weight: 30rem;
  color: #cfd8dc;
  line-height: 3.5rem;
}

.box button {
  background: #cfd8dc;
  border: 0;
  color: #44424296;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 30rem;
  width: 33rem;
  margin: 2rem auto;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 2.5rem;
}

.box button:active {
  background: radial-gradient(circle, red, orange,yellow);
  color: #263238;
}

.box button:hover {
  background: radial-gradient(circle, red, orange,yellow);
  /*background: linear-gradient(to bottom right,yellow, orange, red, orange,yellow);*/
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.box p {
  font-size: 1.4rem;
  text-align: center;
}

.group {
  position: relative;
  margin-bottom: 2rem;
  margin-left: 4rem;
}
.rm{
  margin-bottom: 0rem;
}
.inputMaterial {
  font-size: 1.8rem;
  padding: 1rem 1rem 1rem 0.5rem;
  display: block;
  width: 30rem;
  border: none;
  border-bottom: 0.1rem solid #757575;
}

.inputMaterial:focus {
  outline: none;
}

/* LABEL ======================================= */

label {
  color: #999;
  font-size: 1.4rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0.5rem;
  top: 1rem;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#rml{
  /*pointer-events: initial;*/
  position: relative;
  display: inline-block;
  margin-left: 1rem;
  top: 0.5rem;
}
/* active state */
.inputMaterial:focus ~ label,
.inputMaterial:valid ~ label {
  top: 4.5rem;
  font-size: 1.1rem;
  color: #44424296;
}

/* active state */
.inputMaterial:focus ~ .bar:before,
.inputMaterial:focus ~ .bar:after {
  width: 50%;
}

/* active state */
.inputMaterial:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

#footer-box {
  width: 100%;
  height: 5rem;
  background: #343838a4;
  position: absolute;
  bottom: 0;
}

.footer-text {
  color: #cfd8dc;
  padding: 0.75rem 1.5rem;
  line-height: 1.75rem;
}

body {
  background: #090909;
}

.sign-up {
  display: none;
  z-index: 2rem;
  width: 100%;
  height: 100%;
  position: absolute;
}
.sign-up span {
  font-family: "Roboto";
  font-size: 3.2rem;
  color: white;
  text-align: center;
  line-height: 6rem;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  cursor: pointer;
}
.base-box {
  width: 60%;
}
 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 26px;
  top: -0.25rem;
  pointer-events: initial;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
} 